<template>
  <div>
    <h1>Chocolate Factories</h1>
    <div v-for="factory in factories" :key="factory.id" class="factory">
      <router-link :to="{ name: 'FactoryDetail', params: { id: factory.id } }">
        <h2>{{ factory.name }}</h2>
      </router-link>
      <p>{{ factory.location }}</p>
      <img :src="factory.logo" alt="Factory Logo">
      <p>Average Rating: {{ factory.averageRating }}</p>
    </div>
  </div>
</template>

<script>
import axios from '@/axios';

export default {
  data() {
    return {
      factories: []
    };
  },
  created() {
    this.fetchFactories();
  },
  methods: {
    fetchFactories() {
      axios.get('/factories')
        .then(response => {
          this.factories = response.data;
        })
        .catch(error => {
          console.error('There was an error fetching the factories:', error);
        });
    }
  }
};
</script>

<style scoped>
/* Add your styles here */
.factory {
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
}
</style>
