<template>
  <RouterView />
</template>

<script>
import axios from 'axios';
import { RouterLink, RouterView } from 'vue-router'
import LoginForm from './components/LoginForm.vue'
export default {
  data() {
    return {
      factories: []
    };
  },
  created() {
    axios.get('/api/factories')
      .then(response => {
        this.factories = response.data;
      })
      .catch(error => {
        console.error("There was an error fetching the factories:", error);
      });
  }
};
</script>

<style scoped>
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.factory-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.factory-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: calc(33.333% - 20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.factory-card h2 {
  margin-top: 0;
}

.factory-logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}
</style>
