<template>
  <div class="form-container">
    <h1>Add New Chocolate</h1>
    <form @submit.prevent="submitForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input v-model="chocolate.name" id="name" required />
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input v-model="chocolate.price" id="price" type="number" required />
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input v-model="chocolate.type" id="type" required />
      </div>
      <div class="form-group">
        <label for="kind">Kind</label>
        <input v-model="chocolate.kind" id="kind" required />
      </div>
      <div class="form-group">
        <label for="weight">Weight</label>
        <input v-model="chocolate.weight" id="weight" type="number" required />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea v-model="chocolate.description" id="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        <input v-model="chocolate.image" id="image" required />
      </div>
      <button type="submit">Add Chocolate</button>
    </form>
  </div>
</template>

<script>
import axios from '@/axios';

export default {
  data() {
    return {
      chocolate: {
        name: '',
        price: 0,
        type: '',
        kind: '',
        weight: 0,
        description: '',
        image: '',
        quantity: 0
      }
    };
  },
  methods: {
    submitForm() {
      axios.post('/chocolates', this.chocolate)
        .then(response => {
          this.$router.push({ name: 'FactoryDetail', params: { id: this.$route.params.factoryId } });
        })
        .catch(error => {
          console.error('There was an error adding the chocolate:', error);
        });
    }
  }
};
</script>

<style scoped>
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}
</style>
