<template>
  <div class="container">
    <h1>{{ factory.name }}</h1>
    <p>{{ factory.location }}</p>
    <img :src="factory.logo" alt="Factory Logo" class="factory-logo">
    <p>Status: {{ factory.status }}</p>
    <p>Working Hours: {{ factory.workingHours }}</p>
    <p>Average Rating: {{ factory.averageRating }}</p>
    <div>
      <h2>Chocolates</h2>
      <div v-for="chocolate in factory.chocolates" :key="chocolate.id" class="chocolate">
        <h3>{{ chocolate.name }}</h3>
        <p>Type: {{ chocolate.type }}</p>
        <p>Price: {{ chocolate.price }}</p>
        <p>Weight: {{ chocolate.weight }}</p>
        <img :src="chocolate.image" alt="Chocolate Image" class="chocolate-image">
        <p>{{ chocolate.description }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from '@/axios';

export default {
  data() {
    return {
      factory: {}
    };
  },
  created() {
    this.fetchFactory();
  },
  methods: {
    fetchFactory() {
      const factoryId = this.$route.params.id;
      axios.get(`/factories/${factoryId}`)
        .then(response => {
          this.factory = response.data;
        })
        .catch(error => {
          console.error('There was an error fetching the factory:', error);
        });
    }
  }
};
</script>

<style scoped>
.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.factory-logo, .chocolate-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.chocolate {
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
}
</style>
