<template>
  <div class="container">
    <h1>All Factories</h1>
    <div class="factory-list">
      <div class="factory-card" v-for="factory in factories" :key="factory.id">
        <p><strong>Name:</strong> {{ factory.name }}</p>
        <p><strong>Location:</strong> {{ factory.location }}</p>
        <p><strong>Status:</strong> {{ factory.status }}</p>
        <p><strong>Average Rating:</strong> {{ factory.averageRating }}</p>
        <img :src="factory.logo" alt="Factory Logo" class="factory-logo" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from '@/axios';

export default {
  data() {
    return {
      factories: []
    };
  },
  created() {
    axios.get('/api/factories')
      .then(response => {
        this.factories = response.data;
      })
      .catch(error => {
        console.error("There was an error fetching the factories:", error);
      });
  }
};
</script>

<style scoped>
.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}

.factory-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.factory-card {
  border: 1px solid #ddd;
  padding: 16px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.factory-logo {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
</style>
