<template>
    <div class="loginBox">
        <div class="inner">
            <div class="signIn" v-if="signIn">
                <div class="top">
                    <img class="logo" :src="FactoryLogo"/>
                <div class="title">Sign In</div>
                <div class="subtitle">
                    Don't have an account yet?
                    <span class="subtitle-action" @click="signIn = !signIn">
                    Sign Up
                    </span>
                </div>
                </div>
            <form>
                <div class="form">
                    <input
                    required
                    aria-required="true"
                    aria-invalid="false"
                    aria-label="Username"
                    type="text"
                    pattern="^[a-zA-Z0-9_]{3,16}$"
                    class="w100"
                    :class="{ invalid: username.error }"
                    ref="username"
                    placeholder="Username"
                    @blur="validateUsername"
                    @keydown="validateUsername"
                    v-model="username.value"
                    />
  
                    <input
                    required
                    aria-required="true"
                    type="password"
                    class="w100"
                    :class="{ invalid: password.error }"
                    placeholder="Password"
                    v-model="password.value"
                    @blur="validatePassword"
                    @keydown="validatePassword"
                    />
                </div>

                <input
                    type="submit"
                    value="Log in"
                    class="action"
                    :class="{ 'action-disabled': !loginValid }"
                />
            </form>
            </div>
  
        <div class="register" v-else>
            <div class="top">
                <img class="logo" :src="FactoryLogo"/>
            <div class="title">Register</div>
            <div class="subtitle">
                Already have an account?
                <span class="subtitle-action" @click="signIn = !signIn">
                Sign In
                </span>
            </div>
            </div>
  
        <div class="form">
            <input
            type="text"
            class="w100"
            placeholder="Username"
            v-model="username.value"
            />

            <input
            type="password"
            class="w100"
            placeholder="Password"
            v-model="password.value"
            />

            <input
            type="password"
            class="w100"
            placeholder="Confirm Password"
            v-model="confirmPassword"
            @blur="validatePassword"
            />

            <input
            type="text"
            placeholder="First name"
            v-model="firstName.value"
            class="w100"
            />
  
            <input
            type="text"
            placeholder="Last name"
            v-model="lastName.value"
            class="w100"
            />

            <div class="radio-group">
            <label>
                <b>Gender: &emsp;</b>
                <input
                type="radio"
                value="male"
                v-model="gender"
                />
                Male
            </label>
            <label>
                <input
                type="radio"
                value="female"
                v-model="gender"
                />
                Female
            </label>
            </div>

            <input
            type="date"
            v-model="dob"
            class="w100"
            />
        </div>
        <button class="action" :class="{ 'action-disabled': !registerValid }">
        Create Account
        </button>
        </div>
        </div>
    </div>
</template>
  
<script>
    import FactoryLogo from '@/assets/FactoryLogo.png';
    export default {
        data() {
            return {
                usernameRegex: /^[a-zA-Z0-9_]{3,20}$/,
                passwordRegex: /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/,
                namesurnameRegex: /^[A-Za-zÀ-ÖØ-ÿ'\- ]{2,}$/,

                firstName: {
                value: "",
                error: false
                },

                lastName: {
                value: "",
                error: false
                },
  
                password: {
                value: "",
                error: false
                },
  
                username: {
                value: "",
                error: false
                },
  
                signIn: true,
                FactoryLogo,
                confirmPassword: "",
                gender: "",
                dob: "",
            };
        },
  
    methods: {
        validateUsername() {
            if (this.username.value == "") this.username.error = true;
            else this.username.error = false;
        },
  
        validatePassword() {
            if (this.password.value == "") this.password.error = true;
            else this.password.error = false;
        }
    },
  
    computed: {
        validFirstName() {
            return this.namesurnameRegex.test(this.firstName.value);
        },
    
        validLastName() {
            return this.namesurnameRegex.test(this.lastName.value);
        },
    
        usernameValid() {
            return this.usernameRegex.test(this.username.value);
        },
    
        passwordValid() {
            return this.passwordRegex.test(this.password.value);
        },
    
        loginValid() {
            return this.usernameValid && this.passwordValid;
        },

        dateValid() {
            if (this.dob == "") {
                return false;
            }
        const dateob = new Date(this.dob);
        const today = new Date();
        const minDate = new Date();
        minDate.setFullYear(today.getFullYear() - 18);
        return dateob <= minDate;
        },

        genderValid(){
            return this.gender !== "";
        },
  
        registerValid() {
            return (
            this.validFirstName &&
            this.validLastName &&
            this.usernameValid &&
            this.passwordValid &&
            this.password.value === this.confirmPassword &&
            this.dateValid &&
            this.genderValid
            );
        }
    }
    };
</script>

<style lang = "scss">
    @mixin box {
        box-shadow: 1px 1px 2px 1px #ccc;
    }
  
    @mixin field {
        border: 1px solid #aaa;
        height: 35px;
        padding: 10px;
        margin-top: 8px;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .form input[type="text"]{
        height: 30px;
        margin-bottom: 15px;
        border: 2px solid #aaa;
        @include field;
    }

    .form input[type="radio"] {
        height: 15px;
        @include field;
    }

    .form input[type="password"] {
        height: 30px;
        margin-bottom: 15px;
        border: 2px solid #aaa;
        @include field;
    }

    .form input[type="date"] {
        height: 30px;
        margin-top: 15px;
        margin-bottom: 25px;
        border: 2px solid #aaa;
        @include field;
    }

    .form input::placeholder {
        font-style: italic;
    }

    .radio-group {
        display: flex;
        justify-content: center;
        margin-top: -5px;
        gap: 5px;
    }

    .radio-group label {
        display: flex;
        align-items: center;
        margin: 5px;
    }

    .radio-group input[type="radio"] {
        margin-right: 5px;
        margin-top: -1px;
    }
  
    .invalid {
        border: 2px solid red !important;
        &::placeholder {
        color: red;
        }
    }
  
    .errorMessage {
        color: red;
        margin: 10px;
        top: 5px;
    }
  
    .w100 {
        width: 100%;
    }
  
    .logo {
        width: 300px;
        margin-bottom: 15px;
    }
  
    .action {
        height: 40px;
        text-transform: uppercase;
        border-radius: 15px;
        width: 100%;
        border: none;
        cursor: pointer;
        background: green;
        margin-top: 10px;
        color: #fff;
        font-size: 1.2rem;
        @include box;
    }
  
    .action-disabled {
        color: #eee;
        background: #aaa;
        cursor: auto;
    }
  
    .top {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;
    }
  
    .title {
        width: 100%;
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }
  
    .subtitle {
        .subtitle-action {
        color: green;
        font-weight: bold;
        cursor: pointer;
        }
    }
  
    html {
        background-repeat: no-repeat;
        background: linear-gradient(
        to bottom,
        rgba(96, 108, 136, 1) 0%,
        rgba(63, 76, 107, 1) 100%
        );
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-family: sans-serif;
    }
  
    .loginBox {
        background: #fff;
        border-radius: 15px;
        max-width: 400px;
        padding: 25px 55px;
        animation: slideInTop 1s;
    }
  
    @keyframes slideInTop {
        from {
        opacity: 0;
        transform: translateY(-30%);
        }
  
        to {
        opacity: 100;
        transform: translateY(0%);
        }
    }
  
    @media screen and (min-width: 440px) {
        .loginBox {
        box-shadow: 1px 1px 2px 1px #ccc;
        }
    }
  
    @media screen and (max-width: 440px) {
        html {
        background: #fff;
        align-items: start;
        justify-content: start;
        }
  
    .loginBox {
      padding: 25px 25px;
      max-width: 100vw;
    }
    }
</style>
  